src/Complementary/RegistrationWeb/Service References/RegistrationService/RegistrationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://eexamthai.cloudapp.net/Services/RegistrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TheS.eXam.Web.Models" />
  <xs:element name="RegisterNewPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TheS.eXam.Web.Models" minOccurs="0" name="registers" nillable="true" type="q1:ArrayOfRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNewPersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>